@import 'app.scss';

.content {
  width: 100%;
}
.userPanel {
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (max-width: '600px') {
    display: flex;
    flex-direction: column;
  }
}

.searchUser {
  width: 100%;
  background: $base-gray-200 0% 0% no-repeat padding-box;
  border: none;
  border-radius: 5px;
  font: normal normal 600 10px/12px $base-font;
  color: $base-gray-500;
  padding: 14px 20px;
  padding-left: 43px;
}
.userButton {
  border: 1px solid $base-gray-300;
  background: $base-gray-100 0% 0% no-repeat padding-box;
  padding: 5px 20px;
  border-radius: 4px;
  text-transform: none !important;
  justify-content: space-between;
}
.userButtonText {
  width: 100px;
  text-align: start;
  font: normal normal 600 10px/12px $base-font;
}

.MuiTab_root {
  min-width: 72px !important;
  text-transform: capitalize !important;
  font: normal normal 600 10px/12px $base-font !important;
}

.userTypeTabs {
  background-color: white;
  border-bottom: 2px solid $base-gray-200;
}
