@import 'app.scss';
.dropdown {
  width: 137px;
  height: 40px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 3px #00000007;
  border-radius: 4px;
  border: none;
  text-align: left;
  font: normal normal 600 12px/12px $base-font-light;
  color: $color-primary-dark;
  padding: 11px 0 11px 10px;
  opacity: 1;
}
