@import 'app.scss';

.title {
  text-align: left;
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 0px;
  color: $color-primary-dark;
  opacity: 1;
  margin-bottom: 30px;
}

.form {
  font-family: $base-font;
  font-size: $body-text-color;

  &__textInput {
    margin-bottom: 20px;

    label {
      font-size: 12px;
      font-weight: 600;
      line-height: 12px;
      letter-spacing: 0px;
      color: $base-gray-500;
      margin-bottom: 8px;
    }
  }
  &__textWrap {
    word-wrap: break-word;
    word-break: break-all;
  }

  &__doubleTitle {
    font-size: 12px;
    font-weight: 600;
    line-height: 12px;
    letter-spacing: 0px;
    // color: $base-gray-500;
    margin: 20px 0 8px;
  }

  &__double {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    @media (max-width: 800px) {
      flex-direction: column;
      justify-content: flex-start;
    }
  }

  &__mr {
    margin-right: 10px;

    @media (max-width: 800px) {
      margin-right: 0;
      margin-top: 10px;
    }
  }

  &__mt {
    margin-top: 20px;
  }

  &__buttons {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    @media (max-width: 800px) {
      flex-direction: column;
      justify-content: start;
    }
  }

  &__forgotPassword {
    margin: 4px 0 30px;
    text-align: right;
    color: $base-primary;
    font-weight: 600;
    font-size: 14px;

    a {
      color: $base-primary;

      &:visited {
        color: $base-primary;
      }
    }
  }

  &__new {
    margin: 30px 0 30px;
    font-weight: 600;
    font-size: 14px;

    span {
    }

    a {
      color: $base-primary;

      &:visited {
        color: $base-primary;
      }
    }
  }

  &__signIn {
    width: 100%;
    // background-color: $base-primary;
    // color: white;
    height: 36px;
  }
  &__signUp {
    margin-top: 25px;
    padding: 0 40px;
    height: 36px;
  }
}

.error {
  font-size: 14px;
  font-weight: 600;
  line-height: 12px;
  letter-spacing: 0px;
  color: red;
  margin: 0 0 30px 0;
}

.resetPassword{
  padding: 20px 0;

      h2 {
      text-align: left;
      font-family: $base-font;
      font-size: 19px;
      font-weight: 600;
      font-variant: normal;
      line-height: 17px;
      letter-spacing: 0px;
      color: #16395b;
    }

    p {
      text-align: left;
      font-family: $base-font;
      font-size: 12px;
      line-height: 15px;
      letter-spacing: 0px;
      color: #7d8793;
      opacity: 1;
      margin: 19px 0 65px;
    }
}