@import 'app.scss';

.modelcardgrid {
  margin: 5px;
  width: 189px;
  height: 189px;
  padding: 56px;
  border: 2px solid $base-gray-100;
  cursor: pointer;
}

.pmodel {
  font-size: 10px;
  margin-top: 10px;
  color: $base-secondary;
  font-weight: bold;
  white-space: nowrap;
}

.imgAddLesson {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.paramodel {
  margin-top: 20px;
  margin-left: -10px;
  color: $base-secondary;
  font-weight: bold;
  white-space: nowrap;
}

.img {
  margin-top: 30px;
  padding-top: 50px;
  margin-left: 120px;
  justify-content: right;
  display: flex;
}

.pDrag {
  justify-content: center;
  display: flex;
  margin: 0 auto;
  margin-bottom: -10px !important;
  margin-left: 50px;
  margin-top: 10px;
  font-size: 10px;
}
.pDrag1 {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-left: 113px;
  margin-bottom: -10px !important;
  margin-top: 10px;
  font-size: 10px;
  color: $base-gray-400;
}
.pDrag2 {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-left: -30px;
  margin-bottom: -10px !important;
  margin-top: 10px;
  font-size: 10px;
}

.pDragmargin {
  margin-top: -60px;
}
